/* src/app/styles/components/Banner.module.css */

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("/images/doce-banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.button {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: white;
}

.button:hover a {
  color: black;
}

/* Responsividade para tablets e telas menores */
@media (max-width: 768px) {
  .banner {
    height: 60vh; /* Altura menor para tablets */
  }

  .content h1 {
    font-size: 2.5rem; /* Redução do tamanho do título */
  }

  .button {
    padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
  }
}

/* Responsividade para telas móveis */
@media (max-width: 480px) {
  .banner {
    height: 50vh; /* Altura menor para dispositivos móveis */
    background-position: center;
  }

  .content h1 {
    font-size: 2rem; /* Ajuste do tamanho do título */
    margin-bottom: 0.8rem;
  }

  .button {
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
  }
}
