.footer {
	background-color: var(--lightpink);
	color: var(--foreground);
	text-align: center;
	height: 60px;
}

.footer h3 {
	padding-top: 1em;
	font-size: 1.2em;
    font-family: Italiana;
}

.footer a {
	text-decoration: none;
	color: var(--foreground);
}

@media (max-width: 768px) {
	.footer h3 {
		padding-top: 3%;
		font-size: .85em;
	}
}

@media (max-width: 480px) {
	.footer h3 {
		padding-top: 5%;
	}
}