.production {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  margin: 0;
  background-color: white;
  color: black;
}

.videoContainer {
  flex: 0 0 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
}

.textContainer h2 {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: black;
  position: relative;
}

.textContainer h2 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--lightpink);
}

.textContainer p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: black;
}

@media (max-width: 768px) {
  .production {
    flex-direction: column;
    text-align: center;
  }

  .videoContainer,
  .textContainer {
    flex: 1 1 100%;
    padding-left: 0;
  }

  .textContainer {
    padding-top: 1rem;
  }
}
