.html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.header{
    flex:1;
    margin-left: 100px;
    position: sticky;
    top: 80px; /* Posição onde o sticky irá "colar" */
}

.header h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: black;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-bottom: 3px solid var(--lightpink);
}

.header p {
    font-size: 20px;
    color: black;
    text-align: justify;
}

.container {
    max-width: 1700px;
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    text-align: left;
}


.gallery {
    margin-left: 100px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 2;
    width: 100%;
}

.item {
    position: relative;
    width: 100%;
}

.item img {
    width: 380px;
    height: 450px;
    border-radius: 5px;
}

.item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        margin: 0;
    }

    .container {
        gap: 25px;
    }

    .header h1 {
        font-size: 2.2rem;
    }

    .header p {
        width: 40vw;
    }

    .item img {
        width: 190px;
        height: 225px;
        border-radius: 5px;
    }

    .gallery {
        margin-left: 0;
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: initial;
        text-align: center;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .header p {
        font-size: 1.1rem;
        width: inherit;
    }

    .item img {
        width: 180px;
        height: 214px;
        border-radius: 5px;
    }
    
    .item span {
        font-size: 1.1rem;
    }

}