@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --lightpink: #fee5e1;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Italiana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
